body{
  font-family: "Roboto", Sans-serif;
  color: #6E7381;
}

h1{
  font-size: 20px;
  font-weight: bold;
}
.sider, .header {
  background-color: #fff;
}

.sider {
  overflow: auto;
  height: 100vh;
  background-color: #fff;
  position: relative;
}
.left {
  left: 0;
}
.right {
  right: 0;
}

.header {
  width: 100vw;
  position: fixed;
  left: 0;
  border-bottom: 1px solid #9fad87;
  z-index: 999;
  background-color: #fff;
}

.logo {
  width: 200px;
}

.content {
  position: relative;
  padding: 0;
  margin-top: 63.5px;
  border-left: 1px solid #9fad87;
  border-right: 1px solid #9fad87;
  background-color: #fafafa;
}
.row {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #9fad87;
}
.Btn-green {
  font-size: 14px;
  font-weight: 600;
  background-color: #74B800;
  border-radius: 3px;
  color: #fff;
}

.Btn-red {
  font-size: 14px;
  font-weight: 600;
  background-color: #f54242;
  border-radius: 3px;
  color: #fff;
}

.Btn-green:hover {
  background-color: #fff;
  color: #74B800;
  border-color: #74B800;
}

.Btn-red:hover {
  font-size: 14px;
  font-weight: 600;
  background-color: #fff;
  border-radius: 3px;
  color: #f54242;
  border: 1px solid #f54242;
}

.ant-table-column-sorter{
  display: none;
}