body{
  font-family: "Roboto", Sans-serif;
}

.Btn-green {
  font-size: 14px;
  font-weight: 600;
  background-color: #74B800;
  border-radius: 3px;
  color: #fff;
}

.ant-table-column-sorter{
  display: none;
}